<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>programming assignment</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <div class="container">
        <img  height="300" width="400"src="static/images/image.jpg" alt="img">
            <h3>Sara Davis</h3>
            <p>Lecturer, University of Nevada,Reno</p>
           </div>
            <div class="nas">
                <nav>
                    <h1>Education</h1>
                    <ul>
                        <li class="ho">University of Nevada,Reno</li>
                        <p>Projected Graduation: Spring 2022</p>
                        <p>PhD,Computer Science and Engineering</p>
                    </ul>
                    <h1>Relevant Coursework</h1>
                    <ul>
                        <li class="ho">CS 133: Nonexistent CS course</li>
                        <p>This is where the description would go if this were a real course.</p>
                    </ul>
                    <h1>Work Experience</h1>
                    <ul>
                        <li class="ho">Lecturer, UNR CSE Department January 2022-Present</li>
                        <p>This is where the description would go if I weren't lazy.</p>
                    </ul>
                    <p>None is fine here, if you don't have any experience.</p>
                    <h1>Research</h1>
                    <ul>
                        <li class="ho">Identifying prominent features in exagerrated imagery.</li>
                        <p>This is where the description would go.</p>
                    </ul>
                    <p>None is fine here, if you don't do reseach.</p>
                    <h1>Awards and Honors</h1>
                    <ul>
                        <li class="ho">Top 10% NCL individual challenge 2019,2020,2021</li>
                        <li class="fi">Intel SWE Gratuate Student Scholarship:amount awarded</li>
                    </ul>
                    <h1>NOTES For Students</h1>
                    <p>These are the basic required headers. You may add additional content, but you must have a photo and the headers listed here.</p>
                    
                </nav>
    </div>

</body>
</html>